[project]
	description = Maven plugin for building Jenkins plugins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/builderall
[access "refs/for/refs/*"]
	read = group user/builderall
	push = group user/builderall
	label-Code-Review = -2..+2 group user/builderall
	label-Verified = -1..+1 group user/builderall
	rebase = group user/builderall
	removeReviewer = group user/builderall
	submit = group user/builderall
[access "refs/heads/*"]
	read = group user/builderall
	create = group user/builderall
	push = +force group user/builderall
	pushMerge = group user/builderall
[access "refs/tags/*"]
	push = group user/builderall
	push = +force group user/builderall
